parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - src
        - tests
    stubFiles:
        - tests/stubs/Guzzle.stub

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
